.img-destaque {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(251, 12, 12);
}

.imagens {
  height: 100%;
  width: 100%;
}

.imagemPrincipal {
  transition: opacity 1s ease;
}

.risco {
  text-decoration: line-through;
}

.promo {
  color: red;
}

.asss {
  padding: 0 10px;
  width: 350px;
  height: 818px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #ccc;
  padding: 10px;
}