@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table-entrance {
  animation: fadeIn 0.5s ease;
  z-index: 10000;
  background-color: rgb(203, 203, 203);
  width: 100%;
}

.visible {
  position: absolute;
  opacity: 1;
  display: block;
}

.hidden {
  opacity: 0;
  display: none;
}

td button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 8px;
  width: 100%;
}

.filterButton button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.hidenFIlter {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: rgb(235, 235, 235);
}

.links {
  display: block;
}

.containerLInks {
  margin-right: 100px;
}