.container {
  display: flex;
  justify-content: center;
}

.renderImage {
  width: 500px;
}

.containerImages {
  display: flex;
  flex-direction: row;
  width: 500px;
  gap: 25px;
  overflow: hidden;
}

.container-Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  font-size: 20px;
  width: 700px;
  text-align: start;
  line-height: 30px;
}

.product-image {
  width: 70px;
}